:root {
  --main-bg-color: #1f2937;
  --secondary-bg-color: #e5e7eb;
  --terciary-bg-color: #ffffff;
  --primary-cta: #3882f6;
  --dark-text: #1f2937;
  --light-text: #ffffff;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0em;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--light-text);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 16px;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  background-image: linear-gradient(
    270deg,
    hsl(215deg 50% 19%) 0%,
    hsl(215deg 47% 19%) 38%,
    hsl(215deg 43% 18%) 54%,
    hsl(215deg 39% 18%) 64%,
    hsl(215deg 36% 18%) 73%,
    hsl(215deg 32% 17%) 84%,
    hsl(215deg 28% 17%) 100%
  );
}

.logo {
  width: 48px;
  height: 48px;
}
ul {
  display: flex;
  gap: 32px;
  margin: 32px;
  list-style: none;
}

li a,
li a:visited,
li a:hover,
li a:active {
  color: var(--light-text);
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px 64px;
  padding: 12px;
}

.text {
  display: flex;
  flex-direction: column;
  line-height: 160%;
}

button {
  display: flex;
  padding: 24px 24px 24px 16px;
  margin-top: 32px;
  border-radius: 8px;
  border: none;
  background-color: #5b4aa6;
  color: var(--light-text);
  font-family: Roboto;
  font-size: 24px;
  box-shadow: 4.9px 5.7px 5.3px rgba(0, 0, 0, 0.077),
    16.3px 19.2px 17.9px rgba(0, 0, 0, 0.113),
    73px 86px 80px rgba(0, 0, 0, 0.19);
}

a {
  text-decoration: none;
}

figure img {
  width: 600px;
  height: 350px;
  border-radius: 8px;
  flex: 1 1 auto;
}

@media (max-width: 1200px) {
  .hide {
    display: none;
  }
}
